<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Processing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>⟢ Graphics Studio ⟢</h1>
        <div class="main-content">
            <div class="manipulation-options">
                <div class="slider-container">
                    <br><br><br><br>
                    <label for="blurSlider">Blur:</label> 
                    <input type="range" id="blurSlider" min="1" max="21" step="2" value="1"> <br>
                    <label for="contrastSlider">Contrast:</label>
                    <input type="range" id="contrastSlider" min="1" max="3" step="0.1" value="1"> <br>
                    <label for="sharpenSlider">Sharpen:</label>
                    <input type="range" id="sharpenSlider" min="1" max="21" step="2" value="1"> <br>
                    <label for="invertSlider">Invert: </label>
                    <input type="range" id="invertSlider" min="1" max="21" step="0.1" value="1">
                    <!-- Checkbox for white area detection -->
                    <label for="detectWhiteCheckbox">Detect White:</label>
                    <input type="checkbox" id="detectWhiteCheckbox">
                </div>
            </div>
            <div class="image-preview">
                <div class="image-container">
                    <div class="image-wrapper">
                        <div class="image-placeholder" id="processedImagePlaceholder">
                            <div class="placeholder-icon">📷</div>
                            <div class="placeholder-text">Processing...</div>
                        </div>
                        <img id="processedImage" src="" alt="">
                        <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data" style="margin-top: 10px;">
                            <div class="upload-section">
                                <label for="imageInput" class="custom-file-upload">
                                    Select File
                                </label>
                                <input type="file" name="image" id="imageInput" accept="image/*" style="display: none;">
                            </div>
                            <button type="submit" id="uploadButton">Upload</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='2.js') }}"></script>
</body>
</html>
